
<body>

<div>
    <h3>TUTORIAL</h3>
  <br>
  <h4>HOW TO START WITH IONIC STEP BY STEP</h4>
<ul>
  <li>1 <sup>st</sup>  download latest Node.js, install it</li>
  <p>check if yuh have node.js installed on your terminal, run the command $ node -v, 
    and $ npm -v, To confirm that you have npm installed  <br>
  Note: update your npm before yuh can create your first ionic app $npm install npm@latest -g
  </p>
  <li>2 <sup>nd</sup> Open your command prompt to install Cordova and Ionic: </li>
  <p class="p-cmd">$npm install -g cordova ionic</p>
  <li>3<sup>rd</sup> create app with the following command depending on what yuh plan to create
    <ul>
      <li>this command create a blank app</li>
      <p class="p-cmd">ionic start myApp blank</p>
      <li>this command create Tabs app</li>
      <p class="p-cmd">ionic start myApp tabs</p>
      <li> this command create sidemenu app</li>
      <p class="p-cmd">ionic start myApp sidemenu</p>
    </ul>
  </li>
  <li>4 <sup>th</sup>Navigate APP folder, Then type the following code to serve your app on the web browser</li>
  <p class="p-cmd">$ ionic serve</p>   
  <br>
<li>celebrate, yuh just created your first ionic app</li>
</ul>   
</div>

<br>
<b><a routerLink="/"><img src="assets/ionic-logo.png"></a><br>Home</b>

</body>
