
<body>
  
  <h3>INTRODUCTION</h3> 
  <h4>what is ionic</h4>
  <br>
  <p>Ionic is a complete open-source SDK for mobile app development.</p>
    <p>
        Since Ionic is built on top of AngularJS and Apache Cordova, you will need to have basic
        knowledge about these technologies. You also need to be familiar with HTML, CSS and
        JavaScript, if you want to understand all the information provided.
        <li>HTML, for structure</li>
        <li>CSS, for styling #positioning</li>
        <li>JavaScript/TypeScrip, for functionality</li>
    </p>

    <br>
    <p>
      Ionic is a front-end HTML framework built on top of AngularJS and Cordova. As per
      their official document, the definition of this Ionic Open Source Framework is as follows:
      Ionic is an HTML5 Mobile App Development Framework targeted at building mobile apps. Think of Ionic as the front-end UI framework that handles all the look and
      feel and UI interactions your app needs to be compelling. </p>

      <br>
      <b><a routerLink="/"><img src="assets/ionic-logo.png"></a><br>Home</b>

</body>